---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import PurchaseConditions from '../components/PurchaseConditions.astro';
import HistorySection from '../components/HistorySection.astro';
import ContactSection from '../components/ContactSection.astro';
import { getSettings } from '@/server/utils';

const settings = await getSettings();
console.log(settings);

---

<Layout settings={settings}>
  <main>
    <Hero businessTitle={settings.businessTitle} businessPresentation={settings.businessPresentation} />
    <AboutSection aboutUs={settings.aboutUs} />
    <PurchaseConditions />
    <HistorySection />
    <!-- <ContactSection /> -->
  </main>
</Layout>
