---
---

<footer class="bg-secondary text-primary py-12">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-lg font-semibold mb-4">DONDE ENCONTRARNOS</h3>
        <p>
          Te esperamos en nuestro showroom ubicado en Lavalle 2306, Once - CABA, Buenos Aires 7ºpiso, oficina 708. Recuerda registrarte previo a la visita.
        </p>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">HORARIO DE ATENCIÓN</h3>
        <p>Lunes a Viernes de 08:30 a 17:00 hs</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">ESCRIBINOS UN EMAIL/LLAMANOS</h3>
        <p>consultas@fersmoda.com.ar</p>
        <p>(54) 117165-0002</p>
      </div>
    </div>
    <div class="mt-8 pt-8 border-t border-gray-700 text-center">
      <p class="text-gray-400">© {new Date().getFullYear()} Fluydo S.A. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
