---

---

<div class="md:hidden hidden">
  <nav class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
    <a href="/#quienes-somos" class="block px-3 py-2 text-primary hover:text-amber-500 rounded-md transition-all duration-300 ease-in-out transform hover:scale-105 font-medium">QUIENES SOMOS</a>
  </nav>
</div>
